.column {
  border: rem(1px) solid
    light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
}
.title {
  display: flex;
  justify-content: space-between;

  p {
    font-weight: 600;
    letter-spacing: 1px;
    font-size: rem(21px);
  }
}
.memberCount {
  padding: rem(3px) rem(15px);
  border-radius: rem(5px);
  font-size: rem(18px);
  font-weight: 600;
  border: rem(1px) solid
    light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
}

@media only screen and (max-width: 48rem) {
  .title {
    p {
      font-size: rem(16px);
    }
  }
}
