.discord-link {
  color: light-dark(var(--mantine-color-blue-8), var(--mantine-color-blue-3));

  transition: color 0.3s;
}
.discord-link:hover {
  color: light-dark(var(--mantine-color-blue-4), var(--mantine-color-blue-6));
}
.logoContainer {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
