.managementBox {
  position: relative;
}
.managers {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: absolute;
  top: -12px;
  left: -10px;
  padding: 2px 5px;
  span {
    font-weight: 700;
    color: light-dark(var(--mantine-color-blue-6), var(--mantine-color-blue-8));
  }
}
