.cardContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: rem(80px);
}
.grapIcon {
  border-radius: rem(5px);
  cursor: grab;
  transition: background-color 0.1s;
}
.grapIcon:hover {
  background-color: light-dark(
    var(--mantine-color-gray-1),
    var(--mantine-color-dark-5)
  );
}
.userInfoBox {
  p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.isDraggingCard {
  width: 100%;
  height: rem(80px);
  opacity: 0.5;
  margin-bottom: rem(5px);
  background-color: var(--mantine-color-gray-0);
  border: 1px solid var(--mantine-color-blue-2);
}
