.cardContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: rem(80px);
  opacity: 1 !important;
}

.grapIcon {
  border-radius: rem(5px);
  cursor: grab;
  transition: background-color 0.1s;
}
.grapIcon:hover {
  background-color: light-dark(
    var(--mantine-color-gray-1),
    var(--mantine-color-dark-5)
  );
}
.userInfoBox {
  p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.isDragging {
  border: 3px solid var(--mantine-color-red-5);
}
